# ---------
# Terraform
# ---------
*.tfstate
*.tfstate.*
terraform.tfstate.backup
.terraform/
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars

# -------
# Ansible
# -------
*.retry
*.tar.gz
*.vault
.secret
vault_pass.txt
ansible.log